    .body{
        margin: 0;
        padding: 0;
    }
    .navbar-brand {
        text-shadow: 2px 2px black;
        margin: 0;
    }
    h1,h2,h3,h4,h5,h6{
        margin: 0;
        padding: 0;
    }
    h1{
        text-shadow: 1px 1px 3px #000;
    }
    hr{
        opacity: 1;
    }
    a {
        color: white;
        text-decoration: none;
    }
    u {
      text-decoration: #c0c0c0 solid underline;
      color: #191b2e;
    }
    u:hover {
      text-decoration: none;
      color: black;
    }
    ul{
        list-style-type: circle;
    }
    ol > li {
    list-style-type: none;
    counter-increment: item;
}
    ol > li::before{
        content: counter(item) ". ";
        font-weight: bold;
    }
    mark {
    background: pink;
    padding: 0 3px;
   }
    a:hover{
        color: grey;
    }
    .table{
        border-color: #b8ccdf;
    }
    caption {
       caption-side: top;
       padding: 6px 0;
       font-size: 14px;
       text-indent: 12px;
    }
    .none-content{
        display: none;
    }
    .margin-12{
        margin-bottom: 12px;
    }
    .margin-0{
        margin: 0;
    }
    .selected-text{
        color: rgb(220,53,69);
    }
    .selected-text2{
        color: grey;
    }
    .inform{
        padding: 12px;
        margin-bottom: 12px;
        background-color: rgb(245, 245, 245);
        border-radius: 5px;
        box-shadow: inset 0 0 2px 1px;
    }
    #toTop {
        width: 40px;
        line-height: 40px;
        overflow: hidden;
        z-index: 999;
        display: none;
        cursor: pointer;
        -moz-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
        position: fixed;
        bottom: 12px;
        right: 26px;
        text-align: center;
        font-size: 30px;
        color: black;
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid #198754;
        opacity: 0.9;
    }
        #toTop:hover {
        background-color: #198754;
        color: white;
        border: 1px solid #198754;
        border-radius: 5px;
    }
    .ol-text{
    	list-style-type: none;
    	counter-reset: num;
    	font-size: 14px;
        background-color: #f5f5f5;
        padding: 6px 6px 6px 32px;
        margin-bottom: 12px;
    }
    .ol-text li {
    	position: relative;
    	margin: 0 0 0 0;
    	padding: 0 0 6px 0;
    }
    .ol-text li:before {
    	content: counter(num) '.';
    	counter-increment: num;
    	display: inline-block;
    	position: absolute;
    	top: 0px;
    	left: -26px;
    	width: 20px;
    	color: #212529;
    	text-align: right;
    }
    .ol-text-tick li:before {
    	content: "\2713";
        color: #dc3545;
    }
    .ol-text-plus li:before {
    	content: "\21BB";
        color: #198754;
    }
    .ol-text-star li:before {
    	content: "\2605";
        color: #6c757d;
    }
    .ol-text-ending li:before {
        content: "\2743";
        color: #dc3545;
    }
    .badge{
        margin-bottom: 12px;
    }
    p {
        text-indent: 12px;
    }
    .alfa{
        font-size: 15px;
    }
    .hr-header{
        border: 3px double #212529;
        border-radius: 20px;
        height: 3px;
        background: #c0c0bd;
        box-shadow: -1px 2px 5px 1px #212529;
        opacity: 0.80;
        margin: 24px 0;
    }
        }
    .p-table{
        padding-bottom: 2px;
        margin: 0;
    }
    .cover-body{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        background-image: url("../images/flag.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed!important;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    }
    .collapse{
        justify-content: space-between;
        align-items: flex-end;
    }
    .bread{
        margin-bottom: 11px;
        justify-content: center;
    }
    .row {
        --bs-gutter-x: 0;
    }
    .hr-hidden-menu{
        visibility: hidden;
    }
    .container-fluid{
        flex-wrap: nowrap;
    }
    .logo {
        display: flex;
        justify-content: center;
    }
    .navbar{
        padding: 12px;
        justify-content: flex-start;
        margin: 0;
        height: auto;
        align-items: flex-start;
        height: 100%;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: rgba(255,255,255,.75);
    }
    .navbar-dark .navbar-nav .nav-link:hover {
        color: rgba(255,255,255,1);
    }
    .hr-menu{
        width: 100%;
        margin: 12px 0;
        opacity: 1;
        border: 0;
        height: 1px;
        background: #198754;
        background-image: -webkit-linear-gradient(left, #212529, #198754, #212529);
        background-image: -moz-linear-gradient(left, #212529, #198754, #212529);
        background-image: -ms-linear-gradient(left, #212529, #198754, #212529);
        background-image: -o-linear-gradient(left, #212529, #198754, #212529);
    }
    .hr-text{
        margin: 24px 0;
        opacity: 0.5;
    }
    .content-hr-text-big{
        width: 100%;
        margin: 24px 0;
        padding: 0;
        height: 44px;
        background: url(../images/laurel.png) 35% 50%, url(../images/laurel.png) 50% 50%, url(../images/laurel.png) 65% 50%;
        background-repeat: no-repeat;
        position: relative;
    }
    .hr-text-big{
        width: 100%; /* блок займёт по ширине 100% ширины родительского */
        height: 2px!important; /* высота самого блока */
        background: linear-gradient(to right, rgb(8 44 27/ 100%), rgb(16 86 53 / 50%), rgb(16 86 53 / 0%), rgb(16 86 53 / 50%), rgb(8 44 27 / 100%));
        display: block; /* преобразуем его в блочный */
        position: absolute; /* включаем асболютное позиционирование */
        top: 50%; /*отступ будет 0 пикселей от верхней точки блока */
        margin: 0;
        z-index: -1;
    }
    .row{
        overflow-x: inherit;
    }
    .navbarleft {
        margin: 12px 0;
        position: sticky;
        top: 12px;
        z-index: 11000;
    }
    .nav-item:first-child{
        margin-top: 8px;
    }
    .nav-item:last-child{
        margin-bottom: 8px;
    }
    .boxtext{
        padding: 12px;
        padding-right: 0;
    }
    .container-form{
        width: auto;
        justify-content: flex-end;
    }
    .navbar-nav{
        width: 100%;
        text-align: center;
        border-radius: 5px;
    }
    .dropdown-menu{
        min-width: 100%;
    }
    .dropdown-item{
        text-align: center;
    }
    .form-control {
        margin-right: 12px;
    }
    .boxtext-content{
        min-height: 94.2%;
        padding: 0 12px;
        padding-bottom: 12px;
        background-color: #fffff0;
        opacity: 0.95;
        border-radius: 5px;
        overflow: hidden;
    }
    .dropdown-item{
        font-size: 14px;
        text-overflow: ellipsis;
    }

    .hello{
        text-align: center;
    }
    .img-thumbnail{
        background: green;
    }
    .img-text{
        max-height: 320px;
    }
    .img-text-container{
        padding: 12px;
    }
    .translate-box{
        background-color: grey;
    }
    .carousel{
        margin: 12px auto;
        max-width: 38rem;
        max-height: 320px;
        overflow: hidden;
    }
    .carousel-inner{
        height: 100%;
    }
    .carousel-item{
        height: 100%;
    }
    .card{
        height: 100%;
    }
    .carousel-image{
        width: 100%;
        height: 320px;
    }
    .card-body{
        background-color: rgb(0,0,0, 0.8);
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
    .card-body h3{
        color:white;
    }
    .card-body h3:hover{
        color:grey;
        transition: 0.4s;
    }
    .carousel-control-next{
        color: white;
    }
    .carousel-control-next-icon{
        opacity: 1;
    }
    .navbar-nav{
        display: block;
    }
    .carousel-indicators{
        margin-bottom: 0.7rem;
    }
/*grammar*/
    .container-grammar-list{
        overflow-x: auto;
    }
    .grammar-list a{
        color: #131313;
    }
    .grammar-list{
        position: relative;
        margin-bottom: 12px;
    }
    .list-group-item{
        background-color: #fffff0;
    }
    .border-secondary > .list-group-item{
        margin-left: 24px;
        padding-left: 12px;
    }
    .grammar-list > .list-group-item{
        margin-left: 0;
        padding-left: 12px;
    }
    .border-third > .list-group-item {
        margin-left: 48px;
        padding-left: 12px;
    }
    .border-fourth > .list-group-item {
        margin-left: 72px;
        padding-left: 12px;
    }
    .grammar-list::before{
        content: '';
        position: absolute;
        top: 15px;
        bottom: 15px;
        left: 55px;
        width: 1px;
        border-left: 1px solid #2f4f4f;
    }
    .grammar-list li::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0px;
        width: 10px;
        border-top: 1px solid #2f4f4f;
    }

    .grammar-list > li::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0px;
        width: 10px;
        border-top: none;
    }
    .border-secondary{
        position: relative;
    }
    .border-secondary::before{
        content: '';
        position: absolute;
        top: 15px;
        bottom: 15px;
        left: 111px;
        width: 1px;
        border-left: 1px solid #2f4f4f;
    }
    .border-third::before{
        content: '';
        position: absolute;
        top: 15px;
        bottom: 15px;
        left: 135px;
        width: 1px;
        border-left: 1px solid #2f4f4f;
    }
    .border-third{
        position: relative;
    }
    .list-group-item{
        border: none;
    }
    .disactive{
        pointer-events: none;
        text-decoration: none;
    }
/* Nouns Declesnsion*/
    .tr-border{
        border-bottom: 2px solid grey;
    }
    .table-content{
        overflow: auto;
    }

    /*Comments*/
    .comments-section{
        margin: 0;
        padding: 0;

    }
    .comments-div{
        padding: 0 12px;
    }
    .img-sm {
     width: 46px;
     height: 46px;
    }
    .panel {
     box-shadow: 0 2px 0 rgba(0,0,0,0.075);
     border-radius: 0;
     border: 0;
     margin-bottom: 12px;
    }
    .clearfix{
        margin-top: 12px;
    }
    .panel .panel-footer, .panel>:last-child {
     border-bottom-left-radius: 0;
     border-bottom-right-radius: 0;
    }
    .panel .panel-heading, .panel>:first-child {
     border-top-left-radius: 0;
     border-top-right-radius: 0;
    }
    .panel-body {
     padding: 12px 12px;
     background-color: rgb(33,37,41, 0.95);
    }
    .media-block .media-left {
     display: block;
     float: left
    }
    .media-block .media-right {
     float: right
    }
    .media-block .media-body {
     display: block;
     overflow: hidden;
     width: auto
    }
    .middle .media-left,
    .middle .media-right,
    .middle .media-body {
     vertical-align: middle
    }
    .thumbnail {
     border-radius: 0;
     border-color: #e9e9e9
    }
    .tag.tag-sm, .btn-group-sm>.tag {
     padding: 5px 10px;
    }
    .tag:not(.label) {
     background-color: #fff;
     padding: 6px 12px;
     border-radius: 2px;
     border: 1px solid #cdd6e1;
     font-size: 12px;
     line-height: 1.42857;
     vertical-align: middle;
     -webkit-transition: all .15s;
     transition: all .15s;
    }
    .text-muted, a.text-muted:hover, a.text-muted:focus {
     color: #acacac;
    }
    .text-sm {
     font-size: 0.9em;
    }
    .text-5x, .text-4x, .text-5x, .text-2x, .text-lg, .text-sm, .text-xs {
     line-height: 1.25;
    }
    .btn-trans {
     background-color: transparent;
     border-color: transparent;
     color: #929292;
    }
    .btn-icon {
     padding-left: 9px;
     padding-right: 9px;
    }
    .btn-sm, .btn-group-sm>.btn, .btn-icon.btn-sm {
     padding: 5px 10px !important;
    }
    .mar-top {
     margin-top: 15px;
    }
    .namearea{
        width: auto;
        margin: 12px 0;
    }

    /* Стиль окна поиска */
    .form-search{
        position: relative;
    }

/* Стиль меню навигации */
.myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 6px;
  position: absolute;
  visibility: hidden;
  top: 40px;
  background-color: white;
  color: black;
  z-index: 2;
  width: 95%;
  box-sizing: border-box;
  max-height: 350px;
  overflow: auto;
}
.visible {
    visibility: visible;
}

/* Стиль навигационных ссылок */
.myMenu li{
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

/*Карточки*/
.card-all h4{
    box-shadow: inset 0px -2px 3px 0px #ffffff;
    padding: 12px;
    text-shadow: 2px 2px 2px black;
}
.header-card{
    text-align: center;
    background-color: rgb(44, 46, 49);
    background-image: linear-gradient(90deg, rgb(67, 68, 70), rgb(16, 16, 16), rgb(67, 68, 70));
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
.header-card:hover{
     opacity: 0.9;
}
.slider-card{
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    border-top: none;
    justify-content: space-evenly;
    padding: 12px;
    background: linear-gradient(185deg, rgb(255 255 255), rgb(189 189 189), rgb(115 114 114));
    box-shadow: inset 0px -3px 5px 0px #000000;
}
.hidden{
    display: none;
    transition: all 0.2s ease 0s;
}
.open-card{
    color: #e9ecef;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}
.flex-card-image{
    width: 250px;
    position: relative;
    margin: 12px 6px;
    height: 250px;
}
.flex-card-image img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    filter: drop-shadow(0 0 15px rgba(0,0,0,0.6)) sepia(50%);
    transition: all 0.2s ease;
}
.flex-card-image img:hover{
    filter: drop-shadow(0 0 15px rgba(0,0,0));
}
.flex-card-text{
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
    color: white;
    padding: 6px;
}

.table-zone {
    overflow-y: auto;
    max-height: 500px;
    border-bottom: 2px solid black;
    border-spacing: 5px;
}

.myMenu li:hover {
  background-color: #eee;
}
.myMenu li a{
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

.myMenu li a:hover {
  background-color: #eee;
}
.myMenu li.hide {
    display: none;
}
.border-500{
    overflow: auto;
    max-height: 500px;
}
    /*Music*/
    .flex-music-text{
        overflow-x: auto;
    }
    .music-video{
        max-width: 560px;
        height: 315px;
        margin: 0 auto;
    }
    .icon_music{
        display: block;
        padding: 6px;
    }
    .icon_music img{
        border-radius: 50%;
        width: 48px;
        padding: 6px;
        margin-right: 12px;
        background-color: white;
        box-shadow: inset 0 0 10px rgba(0,0,0);
    }

    /*BOOKS*/
    .books-image{
        max-width: 600px;
        height: 300px;
        margin: 0 auto;
    }
    .books-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 0px 2px 5px 0px black;
    }
    .flex-book-text{
        overflow: hidden;
    }
    .flex-book-text-translate{
        overflow: hidden;
    }
    .display-none{
        display: none;
    }
    blockquote{
        margin: 0;
    }
    blockquote h3{
        padding-bottom: 24px;
        text-align: center;
    }
    blockquote p:last-child{
        margin: 0;
    }
    .flex-book-text-translate h3{
        padding-bottom: 24px;
        text-align: center;
    }
    flex-book-text-translate p:last-child{
        margin: 0;
    }
    .bottons-book-text{
        text-align: center;
        margin: -6px 0;
    }
    .bottons-book-text a{
        margin-right: 12px;
        box-shadow: 0px 2px 5px 0px black;
    }
    .bottons-book-text a:active{
        box-shadow: inset 0px 2px 5px 0px black;
    }
    .bottons-book-text button{
        margin-right: 12px;
        box-shadow: 0px 2px 5px 0px black;
        width: 110px;
    }
    .bottons-book-text button:active{
        box-shadow: inset 0px 2px 5px 0px black;
    }
    .bottons-book-text button:last-child{
        margin-right: 0;
    }
    .link-hover-success:hover{
        color: black;
    }
    .bottons-book-text a{
        margin-right: 12px;
        box-shadow: 0px 2px 5px 0px black;
        width: 110px;
    }
    .link-sites:hover{
        color: black!important;
    }
    .pagination{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 24px 12px;
        height: auto;
    }
    .page-item.active .page-link{
        background-color: #198754;
        border-color: #198754;
    }
    .page-link{
        color: black;
        box-shadow: 0px 0px 3px 0px #198754;
        background-color: none;
        border-color: #198754;
    }
    .page-link:hover{
        color: white;
        background-color: #198754;
    }
    /*OFFERS*/
    .all_offert{
        background: linear-gradient(45deg, #c9a7b5, #ddddd9, #c9a7b5);
        padding: 12px;
        border: 2px solid #3d041c;
        border-radius: 5px;
    }

    .offers{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .offer{
        display: flex;
        flex-direction: row;
        border: 2px dashed #198754;
        border-radius: 5px;
        background: linear-gradient(45deg, #bcd4a5, #f5f5f5, #bcd4a5);
        box-shadow: inset 0 0 10px rgba(0,0,0);
        align-items: center;
        padding: 12px;
        width: 50%;
    }
    .container_text_offer{
        flex: 0 1 auto;
        padding-left: 12px;
    }
    .offer_text{
        color: black;
        font-size: 24px;
        text-shadow:0 0 1px rgba(0,0,0);
        transition: 0.5s;
        text-decoration: bold;
    }
    .offer_text:hover{
        text-shadow:0px 0px 2px #fff;
    }
    .container_image_offer{
        width: 150px;
        height: 150px;
        padding: 12px;
        align-self: center;
        flex: 0 0 auto;
    }
    .container_image_offer img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 0 15px rgba(0,0,0);
        border-radius: 5px;
        transition: 0.5s;
    }
    .container_image_offer img:hover{
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
    }
    .footer {
        min-height: 24px;
        margin: 0;
    }
    .copyright{
        display: flex;
        justify-content: flex-end;
        padding: 12px;
    }

    #cookie_block{
      display: none;
      justify-content: space-between;
      align-items: flex-end;
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 24px;
      background-color: #343a40;
      border-radius: 5px;
      box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
      z-index: 9999999;
      text-align: center;
    }

    #cookie_block p{
      margin: 0;
      font-size: 0.8rem;
      text-align: center;
      color: $color_text;
      text-indent: 0;
    }
    .cookie_accept{
        margin-top: 12px;
        color: white;
      }
    #cookie_block.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    @media (max-width: 991.98px) {
        .all-menu{
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .boxtext {
            padding-right: 12px;
        }
        .t-small li a{
            font-size: 14px;
        }
        .container-form{
            margin-top: 12px;
            justify-content: center;
            width: auto;
            align-items: center;
            flex-wrap: nowrap;
        }
        .hide{
            visibility: hidden;
        }
        .hr-hidden-menu{
            visibility: visible;
            width: 100%;
            margin-bottom: 0;
            margin-top: 12px;
            color: white;
        }
        .navbarleft {
            margin: 12px;
            margin-right: 12px;
            margin-bottom: 0;
            width: auto;
        }
        .all-body {
            padding: 0;
            margin: 0;
            overflow: hidden;
            display: block;
        }
        .boxtext {
            width: 100%;
        }
        .offer{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 12px;
            width: 100%;
            text-align: center;
        }
        .container_text_offer{
            flex: 0 1 auto;
            padding-left: 0;
            padding-bottom: 12px;
        }
        .content-hr-text-big{
            width: 100%;
            margin: 24px 0;
            padding: 0;
            height: 44px;
            background: url(../images/laurel.png) 50% 50%;
            background-repeat: no-repeat;
            position: relative;
        }
        .bottons-book-text button{
            margin-right: 6px;
            width: 80px;
            font-size: 0.8em;
        }
        .bottons-book-text a{
            margin-right: 6px;
            width: 80px;
            font-size: 0.8em;
        }
        .page-link{
            color: black;
            box-shadow: 0px 0px 3px 0px #198754;
            background-color: none;
            border-color: #198754;
            font-size: 0.8em;
        }
}
